@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cursor {
  width: 30px;
  height: 30px;
  background: #dae0f1;
  border-radius: 50%;
  position: absolute;
  transition: all 0.1s ease;
  animation: cursorAnim 0.5s infinite alternate;
  z-index: 1;
}

.cursor::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 15px solid #eff1f7;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
  transition: all 0.1s ease;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}
